.statusBlock{
    padding: 10px 0;
}
.statusBlock div:nth-child(n){
    height: 30px;
}
.input{
    width: 70%;
    background-color: #15202b;
    color: #9fa19f;
    padding: 9px 0 5px 0;
    border: 1px solid #6c6e6c;
    border-radius: 10px;
    font-size: 18px;
}
.text{
    padding: 12px 0 25px 0;
    display: block;
    width: 100%;
    font-size: 18px;

}

.text span{
    padding-right: 10px;
}



