.logo {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background-color: #15202b;
}

.img {
    width: 40px;
    margin: 10px 0 10px 4%;
    transition: 400s linear;
}

.img:active {
    transform: rotate(-1000deg);
}

.login {
    display: flex;
    padding: 10px 0 15px 0;
}

.login__item {
    margin: auto 0;
    padding-right: 20px;
    font-size: 20px;

}
.login__button{
    margin: auto 0;
    height: 20px;
    width: 70px;
}


