a{
    color: cyan;
    transition: 150ms linear;
}

.sidebar{
    min-width: 12%;
    border: 1px solid #38444d;
}
@media (max-width: 768px) {
    .sidebar{
        min-width: 20%;
    }
}
.nav{
    margin: 0 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list li:nth-child(n){
    margin-top: 8px;
    padding: 5px;
    border: 1px solid #38444D;
    border-radius: 8px;
    transition: 0.2s linear;
}
.list li:nth-child(n):hover{
    background-color: #0a61a2;
}
.list a:hover{
    color: #ebe8df;
}

