.sidebar{
    display: flex;
    flex-direction: column;
    min-width: 12%;
    border-top: 1px solid #38444d;
    border-right: 1px solid #38444d;

}
.sidebar__item{
    margin: 5px auto 5px 10%;
    font-size: 18px;
    color: #61dafb;
    padding: 10px;
    transition: 150ms linear;
}
.sidebar__item:hover{
    background-color: #0a4487;
    color: #ebe8df;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .sidebar{
        min-width: 20%;
    }
}





