.form{
    max-width: 50%;
    margin-top: 20px;
}
.form textarea{
    height: 100px;
    resize: vertical;
}
.posts__title{
    width: 50%;
    margin-top: 20px;
    padding-bottom: 10px;
    font-size: 30px;
    border-bottom: 1px solid #38444d;
}