.login {
    display: flex;
    margin-top: 20px;
}

.login__item {
    margin: 10px;
}

.field {
    height: 30px;
}

.button {
    display: flex;
    justify-content: flex-end;
}


.container {
    min-width: 40%;
}

.input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.captcha {
    display: block;
    margin: 10px 0;
}

.captcha__block{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.free{
    border: 1px solid #838188;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    font-size: 20px;
    padding: 10px;
}
.free__item{
    padding-bottom: 15px;
}
